/* Estilo general de la página */
body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(138, 135, 135);
}

/* Título principal */
h1{
    color: rgb(0, 0, 0);
}

/* Párrafo de presentación */
p{
    font-size: 25px;
}

/* Aplicación de estilos a imagen */
img{
    width: 250px;
    border-radius: 20px;
}

/* Aplicamos estilos a los elementos que tengan la clase tarjeta */
.tarjeta{
    background-color: white;

    /* Creamos un espacio dentro de la tarjeta */
    padding: 20px;

    /* Creamos un espacio alrededor de la tarjeta */
    margin: 30px;

    border-radius: 25px;
}

/* Aplicamos estilos a los elementos con la clase boton */
.boton{
    background-color: rgb(0, 0, 0);
    color: white;

    /* Espacio interno del botón */
    padding: 10px 20px;

    /* Eliminamos el subrayado de los enlaces */
    text-decoration: none;

    /* Eliminamos el borde predeterminado */
    border: none;

    /* Redondeamos las esquinas */
    border-radius: 10px;

    /* Cambiamos el cursor al pasar sobre el botón */
    cursor: pointer;
}

/* Cambia el estilo cuando colocamos el mouse sobre el botón */
.boton:hover{
    background-color: darkblue;
}